@import "@/styles/variables.scss";

$padding-horizontal: 2rem;
$padding-vertical: 1rem;
$track-color: #282a2d;
$thumb-color: #464a4f;
$scrollbar-width: 10px;
$border-radius: 4px;
$border-width: 2.5px;

.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  width: 100%;
  padding: $padding-vertical $padding-horizontal $padding-vertical
    $padding-horizontal;
  padding-top: 1.5rem;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;

  // Overflow
  overflow: {
    y: auto;
    x: hidden;
  }

  // Scrollbar
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    border-radius: $border-radius;
    -webkit-appearance: none;
    appearance: none;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $border-radius;
    border: $border-width solid $track-color;
    background-clip: padding-box;
    min-height: 40px;

    &:hover {
      background: lighten($thumb-color, 10%);
      border: $border-width solid $track-color;
      background-clip: padding-box;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;

  // Content styling
  ul {
    margin: 1.3rem 0;
    overflow: {
      y: auto;
      x: hidden;
    }
  }

  li {
    margin: 1.5rem 0;
    cursor: pointer;
  }

  h3 {
    font-weight: 400;
    font-size: 43px;
    letter-spacing: 0.03em;
    display: inline;
    position: relative;

    @media (max-width: 1220px) {
      font-size: 38px;
    }

    @media (max-width: 1094px) {
      font-size: 35px;
    }

    background-image: linear-gradient(#fff, #fff);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size 0.3s ease;

    &:hover {
      background-size: 100% 1px;
    }

    &.sidebar__selected {
      color: #fff;
      background-size: 100% 1px;
    }
  }

  &__grayedout {
    color: #8996a0;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }

  li.sidebar__grayedout h3 {
    background-size: 0% 1px;
  }

  li.sidebar__grayedout h3:hover {
    background-size: 0% 1px;
  }

  @include tablet {
    padding: $padding-vertical 1.5rem;
    padding-top: 1.2rem;

    // Scrollbar
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 35px;
      border-width: 2px;
    }

    ul {
      margin: 1rem 0;
    }

    li {
      margin: 1.2rem 0;
    }

    h3 {
      font-size: 35px;
      letter-spacing: 0.02em;
    }
  }

  @include mobile {
    padding: $padding-vertical 1rem;
    padding-top: 1rem;

    // Scrollbar
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 30px;
      border-width: 1.5px;
    }

    ul {
      margin: 0.8rem 0;
    }

    li {
      margin: 1rem 0;
    }

    h3 {
      font-size: 28px;
      letter-spacing: 0.01em;
    }
  }

  @include mobile-landscape {
    padding: 0.7rem 0.8rem;
    padding-top: 0.5rem;

    // Scrollbar
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 25px;
      border-width: 1px;
    }

    ul {
      margin: 0.6rem 0;
    }

    li {
      margin: 0.8rem 0;
    }

    h3 {
      font-size: 22px;
      letter-spacing: 0;
    }
  }
}
