$padding-horizontal: 2rem;
$padding-vertical: 1rem;
$track-color: #282a2d;
$thumb-color: #464a4f;
$scrollbar-width: 10px;
$border-radius: 4px;
$border-width: 2.5px;

.sidebar {
  // Layout
  height: 100%;
  width: 100%;
  padding: $padding-vertical $padding-horizontal $padding-vertical $padding-horizontal;
  padding-top: 1.5rem;
  position: relative;
  z-index: 1;
  
  // Overflow 
  overflow: {
    y: auto;
    x: hidden;
  }
  
  // Scrollbar 
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    border-radius: $border-radius;
    
    &-track {
      background: $track-color;
      border-radius: $border-radius;
    }
    
    &-thumb {
      background: $thumb-color;
      border-radius: $border-radius;
      border: $border-width solid $track-color;
      background-clip: padding-box;
      z-index: 1;
      
      &:hover {
        background: lighten($thumb-color, 10%);
        border: $border-width solid $track-color;
        background-clip: padding-box;
      }
    }
  }
  
  // Content styling
  ul {
    margin: 1.3rem 0;
    overflow: {
      y: auto;
      x: hidden;
    }
  }
  
  li {
    margin: 1.5rem 0;
    cursor: pointer;
  }
  
  h3 {
    font-weight: 400;
    font-size: 43px;
    letter-spacing: 0.03em;
    display: inline;
    position: relative;
    
    // Underline animation
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      bottom: 0;
      width: 0%;
      background-color: #fff;
      transition: width 0.3s ease;
    }
    
    &:hover::after {
      width: 100%;
    }
  }
}