@import "@/styles/variables.scss";

.footer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: #0e0e0e;
  color: white;
  padding: 4rem 0;

  section {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4rem;

    // Common styles for both grid sections
    div.first,
    div.second {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1.5fr;
      width: 100%;
      gap: 2rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 3rem;
      }
    }

    
    div.first {
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;

      // &:first-child {
      //   // &:first-child {
      //   //   background-color: green;
      //   // }
      // }

      p {
        font-weight: 600;
        font-size: 1.3rem;
        margin-bottom: 0.6rem;
      }

      li {
        margin-bottom: 0.3rem;
        list-style: none;
      }

      a {
        color: #8996a0;
        font-size: 1.2rem;
        transition: color 0.2s ease, border-bottom 0.2s ease;
        text-decoration: none;

        &:hover {
          color: #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }

    div.second {
      align-items: flex-end;
      margin-top: auto;

      p {
        color: #8996a0;
        font-size: 1.2rem;
      }
    }

    @media (max-width: 576px) {
      padding: 0 2rem;
    }
  }
}

.socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  gap: 0.8rem;

  h1 {
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
  }
  h2 {
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    position: relative;
    top: -2px;
  }

  img {
    height: 45px;
    width: auto;
  }
}
