@import "../../styles/variables.scss";

$text-width-heading: 20ch;
$text-width-paragraph: 35ch;
$line-thickness: 0.1px;
$text-offset: 170px;

@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero,
.mask {
  position: relative;
  height: 100%;
  width: 100%;
  @include flex-center-column;
  text-align: center;
  overflow: hidden;

  &__text {
    display: grid;
    place-items: center;

    h1 {
      font-size: 3.7rem;
      width: $text-width-heading;
      color: white;
      font-weight: 700;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      width: $text-width-paragraph;
      color: white;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  // Line element styling
  &__line {
    position: absolute;
    left: 50%;
    width: $line-thickness;
    background-color: $color-blue;
    transform: translateX(-50%);

    &_top {
      top: 0;
    }

    &_bottom {
      top: calc(50% + 14rem);
    }
  }
}

.mask {
  position: absolute;
  mask-image: url("../../public/mask.svg");
  background-color: rgba(0, 46, 254, 0.7);
  z-index: 1;
  mask-repeat: no-repeat;
  mask-size: 40px;
  pointer-events: none;
  
  &__text {
    pointer-events: auto;
  }

  &__line {
    background-color: black !important;
  }

}


@media (max-width: 768px) {
  

  .mask {
    display: none;
  }
}