$track-color: #282a2d;
$thumb-color: #464a4f;
$scrollbar-width: 10px;
$border-radius: 4px;
$border-width: 2.5px;

.contentarea {
  grid-area: 2 / 2 / 3 / 4;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;

  transition: all 0.3s ease;

  &__firstsubmenu,
  &__secondsubmenu {
    height: 100%;
    width: 100%;

    padding: 2rem 3rem;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    &::-webkit-scrollbar {
      width: $scrollbar-width;
      border-radius: $border-radius;
      -webkit-appearance: none;
      appearance: none;
    }

    &::-webkit-scrollbar-track {
      background: $track-color;
      border-radius: $border-radius;
    }

    &::-webkit-scrollbar-thumb {
      background: $thumb-color;
      border-radius: $border-radius;
      border: $border-width solid $track-color;
      background-clip: padding-box;
      min-height: 40px;

      &:hover {
        background: lighten($thumb-color, 10%);
        border: $border-width solid $track-color;
        background-clip: padding-box;
      }
    }

    scrollbar-width: thin;
    scrollbar-color: $thumb-color $track-color;

    li {
      margin: 1.5rem 0;
      width: 100%;
      list-style: none;

      a,
      p {
        color: #a0a0a0;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
          color: white;
        }
      }
    }

    .icon {
      position: relative;
      top: 2px;
      color: #464a4f;
      transition: transform .2s ;
    }

    li.selected {
      a,
      p {
        color: white;
      }

      .icon {
        color: white;
      }

      .rotate {
        transform: rotate(90deg);
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.3rem;
      width: 100%;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: white;

        .icon {
          color: white;
        }
      }
    }
  }

  .ensat {
    justify-content: flex-start;
  }

  &__secondsubmenu {
    padding: 2rem 3rem;

    justify-content: space-evenly;

    li {
      margin: 0;
    }

    .dropdown {
      // background-color: aliceblue;
      width: 70%;
      margin: 0 auto;
      display: flex;

      flex-direction: column;
      gap: 1rem;
    }
  }
}
