@import "../../../styles/variables.scss";

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  transition: all 0.5s ease;
  ul {
    display: flex;
    height: 100%;

    width: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: $font-size-2xl;
        font-weight: 500;
      }
    }

    .right_part {
      display: flex;
      height: 100%;
    }
    .right_part_left {
      background-color: black;
      color: $color-white;
      display: flex;
      align-items: center;
      padding: 0 1.4rem;
      height: 100%;
      gap: 1.5rem;

      font-size: 1.3rem;

      &:hover {
        background-color: lighten(black, 10%);
      }
    }
    .right_part_right {
      background-color: rgba(0, 0, 0, 0.8);
      color: $color-white;
      display: flex;
      align-items: center;
      padding: 0 1.4rem;
      height: 100%;
      gap: 1.5rem;

      font-size: 1.3rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
    .logo {
      background-color: rgba(0, 0, 0, 0.6);
      color: $color-white;
      display: flex;
      align-items: center;
      padding: 0 1.4rem;
      height: 100%;
      gap: 1.5rem;
      padding: 1rem 3rem;

      font-size: 1.3rem;
     
    }
  }
}
